@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body {
    background-color: rgb(134, 132, 134);
}


/*cabeçalho*/

header#cabecalho {
    border-bottom: 1px solid black;
}

header#cabecalho h1 {
    font-family: 'Lobster', cursive;
    font-size: 40pt;
}


/*Corpo*/

div#main {
    background-color: rgba(255, 254, 255, 0.8);
    width: 1300px;
    margin: auto;
    margin-top: -20px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

img.logo {
    float: right
}