@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@500&display=swap');
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body {
    background-color: rgb(134, 132, 134);
}


/*cabeçalho*/

header#cabecalho {
    border-bottom: 1px solid black;
}

header#cabecalho h1 {
    font-family: 'Lobster', cursive;
    font-size: 40pt;
    text-align: center;
}


/*Corpo*/

div#main {
    background-color: rgba(255, 254, 255, 0.8);
    width: 1300px;
    margin: auto;
    margin-top: -20px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}


/*Prateleira*/

div.prateleira {
    padding: 5px;
    margin: 10px;
}

div.prateleira h2 {
    font-size: 16pt;
    color: rgba(255, 254, 255, 0.8);
    background-color: #888888;
    text-shadow: 1px 1px black;
    font-family: 'Pacifico', cursive;
}

div.prateleira p {
    font-size: 13pt;
    color: black;
    padding: 5px;
    text-indent: 15px;
    text-align: justify;
}

div.prateleira p a {
    font-size: 13pt;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}


/*Seção*/

section#corpo img.logo {
    float: right;
    width: 150px;
    border: 1px solid white;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.473);
    margin-left: 10px;
}

section#corpo h1 {
    font-size: 30pt;
    font-family: 'Mukta Vaani', sans-serif;
    margin-left: 20px;
}


/*Rodapé*/

footer#rodape {
    clear: both;
    border-top: 1px solid black;
}

footer#rodape p {
    text-align: center;
}